main {
    .home {
        .home_main5 {
            .main5_top {
                margin: 90px 0;
                height: 145px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .main5-sub {
                    text-align: center;
                    padding: 0 90px;
                }
            }
        }

        .main5_content {
            .main5_content-list {
                margin: 0 auto;
                padding: 0 24px;

                .main5_content-item {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 374px;
                    padding: 0;
                    margin: 0 18px;
                    border-radius: 3px;
                    overflow: hidden;
                    position: relative;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                    .main5_content-link {
                        text-decoration: none;

                        .main5_content-hover {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .main5_content-img {
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;

                                }
                            }

                            .item-star {
                                @include font(none, 1.4rem, none, none);

                                i {
                                    color: rgb(255, 213, 0);
                                }

                            }

                            .item-title {
                                @include font($font-title, 3rem, 700, 3rem);
                                color: $title-color;
                                margin: 15px 0 20px;

                            }
                        }




                    }

                    .item-sub {
                        color: $title-color;
                        @include font($font, 1.8rem, 300, 1.4);
                        text-align: center;
                        padding: 0 30px;
                    }

                    .item-price {
                        @include font($font, 2rem, bold, 2rem);
                        color: $primary-color;
                        margin: 30px 0;
                    }
                                        .main5_btn-more {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            align-items: center;
                                            padding-bottom: 40px;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            z-index: 1;
                                            border-bottom: 5px solid $text-color;
                                            transition: all ease-in-out .1s;
                    
                                            .main5_btn-hover {
                                                visibility: hidden;
                                                opacity: 0;
                    
                                                a {
                                                    text-decoration: none;
                                                    @include font($font, 1.6rem, 500, none);
                                                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    
                    
                                                    .main5-view {
                                                        @include hover($text-color, $title-color);
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        margin-bottom: 20px;
                    
                                                        i {
                                                            font-size: 1.2rem;
                                                            padding-left: 8px;
                                                        }
                    
                                                        &:hover {
                                                            @include hover($title-color, $text-color);
                                                        }
                                                    }
                    
                                                    .main5-add {
                                                        @include hover($primary-color, $text-color);
                    
                                                        p {
                                                            margin-bottom: 0;
                                                        }
                    
                                                        i {
                                                            color: $title-color;
                                                            font-size: 1.4rem;
                                                            padding-left: 8px;
                                                        }
                    
                                                        &:hover {
                                                            @include hover($title-color, $text-color);
                    
                                                            i {
                                                                color: $primary-color;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                    
                    
                    
                                            &:hover {
                                                background-color: rgba(136, 180, 78, 0.1);
                                                border-bottom: 5px solid $primary-color;
                    
                                                .main5_btn-hover {
                                                    visibility: visible;
                                                    opacity: 1;
                                                }
                    
                                            }
                                        }

                }
            }


            .main5_read-more {
                margin: 30px 0 90px;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    @include font($font, 2rem, 500, none);

                    .main5-hover {
                        @include hover($primary-color, $text-color);

                        &:hover {
                            @include hover($title-color, $text-color );
                        }
                    }
                }
            }
        }
    }
}